<article class="blog-post">
  <h2 class="blog-post-title"><%= article.title %></h2>
  <p class="blog-post-meta">
    <%= render 'article_detail', article: article %>
  </p>

  <p><%= truncate(article.body, length: 150) %></p>

  <p><%= link_to 'Continue reading ...', article, class: 'btn btn-link' %></p>

  <%= link_to 'Edit', edit_article_path(article),
              class: 'btn btn-primary' if policy(article).update? %>

  <%= link_to 'Destroy', article_path(article),
    method: :delete,
    data: { confirm: 'Are you sure?' },
    class: 'btn btn-danger' if policy(article).destroy? %>
</article>
