<article class="blog-post">
  <h2 class="blog-post-title"><%= article.title %></h2>
  <p class="blog-post-meta"><%= month_day_comma_year(article.created_at) %> by <a href="#">Chris</a></p>

  <p><%= truncate(article.body, length: 150) %></p>

  <p><%= link_to 'Continue reading ...', article, class: 'btn btn-link' %></p>

  <%= link_to 'Edit', edit_article_path(article), class: 'btn btn-secondary' %>

  <%= link_to 'Destroy', article_path(article),
    method: :delete,
    data: { confirm: 'Are you sure?' },
    class: 'btn btn-danger' %>
</article>
