<%= simple_form_for article do |form| %>
  <%= form.input :title %>
  <%= form.input :body, input_html: { rows: 10 } %>

  <br>

  <p>
    <%= form.button :submit, class: 'btn btn-primary' %>
    <%= link_to 'Back', root_path, class: 'btn btn-secondary' %>
  </p>
<% end %>
