<article class="blog-post">
  <h2 class="blog-post-title"><%= @article.title %></h2>
  <p class="blog-post-meta">
    <%= render 'article_detail', article: @article %>
  </p>

  <p><%= @article.body %></p>

  <%= link_to 'Edit', edit_article_path(@article),
  class: 'btn btn-primary' if policy(@article).update? %>

  <%= link_to 'Destroy', article_path(@article),
    method: :delete,
    data: { confirm: 'Are you sure?' },
    class: 'btn btn-danger' if policy(@article).destroy? %>

  <%= link_to 'Back', root_path, class: 'btn btn-secondary' %>
</article>
