<article class="blog-post">
  <h2 class="blog-post-title"><%= @article.title %></h2>
  <p class="blog-post-meta">
    <%= render 'article_detail', article: @article %>
  </p>

  <p><%= @article.body %></p>

  <%= link_to t('app.button.edit'), edit_article_path(@article),
  class: 'btn btn-primary' if policy(@article).update? %>

  <%= link_to t('app.button.destroy'), article_path(@article),
    method: :delete,
    data: { confirm: t('app.message.confirm_destroy') },
    class: 'btn btn-danger' if policy(@article).destroy? %>

  <%= link_to t('app.button.back'), root_path, class: 'btn btn-secondary' %>

  <h2 class="mt-3"><%= t('.comments') %></h2>
  <%= render @article.comments, article: @article %>

  <h3><%= t('.add_comment') %></h3>
  <% if policy(:comment).create? %>
    <%= render 'comments/form', article: @article %>
  <% else %>
    <%= t('.login_create_comment') %>
  <% end %>
</article>
