<h1><%= t Category.model_name.human(count: 2) %></h1>

<p>
  <%= link_to t('categories.new.title', model: Category.model_name.human), new_category_path,
  class: 'btn btn-primary' if policy(:category).new? %>
</p>

<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th><%= t Category.human_attribute_name('name') %></th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td>
          <%= link_to t('app.button.edit'), edit_category_path(category) if policy(category).edit? %>
          <%= link_to t('app.button.destroy'), category,
          method: :delete, data: { confirm: t('app.message.confirm_destroy') } if policy(category).destroy? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
