<% if user_signed_in? %>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      <%= current_user.email %>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li>
        <%= link_to 'Edit User', edit_user_registration_path, class: 'dropdown-item' %>
      </li>
      <li><hr class="dropdown-divider"></li>
      <li>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
      </li>
    </ul>
  </div>
<% else %>
  <%= link_to 'Sign in', new_user_session_path, class: 'link-secondary' %>&nbsp;&nbsp;
  <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-sm btn-outline-secondary' %>
<% end%>
